// 全局公共样式
@import './base.scss';
@import './reset-antd.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        '微软雅黑', Arial, sans-serif;
    background-color: #e4e6eb !important;
}
.mainContent {
    position: absolute;
    top: 80px;
    left: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 96px);
    background-color: #fff !important;
    padding: 24px;
}