// 全局公共样式
@import './base.scss';
@import './reset-antd.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        '微软雅黑', Arial, sans-serif;
    background-color: #e4e6eb !important;
}
.mainContent {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    height: calc(100% - 105px);
    background-color: #f2f2f2;
    padding: 24px;
}