// 头部导航样式
.header {
    width: 100%;
    background-color: #242424;
    font-size: 16px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    .title {
        color: #fff;
        padding-right: 20px;
    }
    .logo {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .search {
        font-size: 12px;
        border-radius: 32px;
        color: #9b9b9b;
        height: 100%;
        &.w160 {
            width: 160px;
        }
    }
    .headerBtn {
        border-radius: 32px;
        border-color: #ccc;
        background: transparent;
        color: #ccc;
        font-size: 12px;
        &:hover {
            color: #fff;
            border-color: #fff;
        }
    }
}
.subHeader {
    background: #c20c0c;
    height: fit-content;
    min-height: 5px;
    position: relative;
    .cor {
        color: #c20c0c;
        position: absolute;
        margin-left: -6px;
        top: -9px;
    }
}

